// Place all the styles related to the result controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

#wrapper {
  color: black;
  margin-left: auto;
  margin-right: auto;
  //width: 910px;
  height: 100%;
  padding: 0px;
}

#content {
  float: right;
  margin: 0px;
  padding: 0px;
  width: 75%;
  height: 100%;
  margin-bottom: 30px;
}

#sidebar {
  float: left;
  color: 000;
  margin: 0px;
  padding: 10px;
  width: 22%;
  height: 100%;
}

#sidebar-big-result-yes {
  color: #00FF00;
  font-size: 10em;
}

#sidebar-big-result-no {
  color: #FF0000;
  font-size: 10em;
}


#map-canvas {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px
}


//#footer {
//  clear: both;
//  width: 100%;
//  border-top: 1px solid #171717;
//  margin-top: 0px;
//  margin-bottom: 0px;
//  height: 2.0em;
//}
